<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <ul class="breadcrumb breadcrumb-style ">
                        <li class="breadcrumb-item">
                            <h4 class="page-title">Add Room Allotment</h4>
                        </li>
                        <li class="breadcrumb-item bcrumb-1">
                            <a routerLink="/dashboard/main">
                                <i class="fas fa-home"></i> Home</a>
                        </li>
                        <li class="breadcrumb-item bcrumb-2">
                            <a href="#" onClick="return false;">Room</a>
                        </li>
                        <li class="breadcrumb-item active">Add Allotment</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="body">
                        <div class="row clearfix">
                            <div class="col-sm-12">
                                <form [formGroup]="basicForm" (ngSubmit)="onSubmit(basicForm)">
                                    <h2 class="card-inside-title">Room Information</h2>
                                    <div class="row clearfix">
                                        <div class="col-sm-12">
                                            <div class="input-field col s12">
                                                <input id="rNo" type="text">
                                                <label for="rNo">Room No</label>
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="input-field col s12 ">
                                                <select>
                                                    <option value="" disabled selected>Room Type</option>
                                                    <option value="1">General</option>
                                                    <option value="2">Delux</option>
                                                    <option value="3">Super Delux</option>
                                                    <option value="4">ICU</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row clearfix">
                                        <div class="col-sm-12">
                                            <div class="input-field col s12">
                                                <input id="pName" type="text">
                                                <label for="pName">Patient Name</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row clearfix">
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <div class="input-field col s12">
                                                    <input id="myDatePicker" class="flatPicker">
                                                    <label for="myDatePicker">Allotment Date</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row clearfix">
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <div class="input-field col s12">
                                                    <input id="myDatePicker2" class="flatPicker">
                                                    <label for="myDatePicker2">Discharge Date</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 p-t-20 text-center">
                                        <button type="submit"
                                            class="btn btn-primary btn-border-radius waves-effect m-r-15">Submit</button>
                                        <button type="button"
                                            class="btn btn-danger btn-border-radius waves-effect">Cancel</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>